<Files *>
order allow,deny
allow from all
deny from 5.188.210.
deny from 5.188.211.
</Files>

<RequireAll>
  Require all granted

  # 개별 차단 IP
  Require not ip 207.167.64.8
  Require not ip 218.145.31.10
  Require not ip 192.42.116.208
  Require not ip 192.42.116.198
  Require not ip 45.90.185.117
  Require not ip 220.95.232.69
  Require not ip 45.84.107.198

</RequireAll>

