@charset "utf-8";
.deepBg {
    display:none;
    position:fixed;
    top:0;
    left:0;
    cursor: pointer;
    width:100%;
    height:100%;
    background: rgba(0,0,0,0.4);
    z-index: 1001;
}
.pc_hd {
    display:none;
}
.pcNoBr {
    display: none;
}
#mb_ft {
    display: none;
}
@media only screen and (max-width: 1096px) {
    body {overflow-x:hidden;}
    .mb {display:none;}
    .deepBg {display: none;}

    .topMenu {min-width:1024px;}
    .topMenu .tmWrap {width:1024px;}
    .topHead {width:1024px;}

    .mainContent {width:1024px;}
    .mainTab .left {width:50%;}
    .infoList ul li {width:33.3%;}
    .infoList ul li a .img {width:100%;height:160px;}

    .callCenterTab ul li {width: 246px;}

    .footer .in {width:1024px;}
    .pcNoBr {
        display: block;
    }
    .tabType01 ul li a {
        line-height: 1.4;
    }
}
@media only screen and (max-width: 1024px) {
    .mb {
        display:block;
    }
    .wrap {
        width:100%;
        min-width: 320px;
    }
    .wrap.rsorder {
        margin:4rem auto 0;
    }
    .head {
        position:fixed;
        top:0;
        left:0;
        width:100%;
        opacity: 0.98;
        background: #fff;
        box-shadow:0px 0px 5px rgba(0,0,0,0.2);
        z-index: 1000;
    }
    .topMenu {
        display:none;
    }
    .topHead {
        width:100%;
        max-width:100%;
        height: 4.0rem;
    }
    .topHead .h1Wrap {
        padding-top:0;
        width:auto;
        height:inherit;
    }
    .topHead .h1Wrap h1 {
        height: inherit;
    }
    .topHead .h1Wrap h1 a {
        display: block;
        padding:14px 16px;
        height: inherit;
    }
    .topHead .h1Wrap h1 a img {
        vertical-align: middle;
        height: 100%;
    }
    .gnb_mb_all {
        display:block;
    }
    .gnb_menu_btn.mb {
        position: absolute;
        top:14px;
        right:16px;
        width: 32px;
        height: 32px;
        border: 1px solid #ccc;
        vertical-align: top;
        font-size: 1rem;
        background: #fff;
    }
    .tblType03 table {
        table-layout:fixed;
    }
    .tblType03 table tr th {
        padding:12px 6px;
        width:64px;
        font-size:0.72rem;
    }
    .tblType03 table.applyTable tr th {
        width:84px;
    }
    .tblType03 table tr th.th_cont {
        display: none;
    }
    .tblType03 table tr th label.lb_cont {
        display: none;
    }
    .tblType03 table td {
        padding:5px 2px 5px 12px;
        font-size:0.72rem;
    }
    .tblType03 table tr td.td_cont {
        padding:12px 4px;
    }
    .tblType03 table td input[type=text].ip_sbj {
        width:100%;
    }
    .tblType03 table td label.lb_sbj {
        display: block;
        line-height: 1.8;
        font-size:0.72rem;
    }
    .tblType03 table td input[type=file] {
        width:100%;
        font-size:0.72rem;
    }
    .tblType03 table td .info_tr {
        float: none;
        font-size:0.72rem;
    }
    .tblType03 table td a.btn_s {
        font-size:0.72rem;
    }
    .tblType03 table td textarea {
        width:100%;
    }
    .gnb_close_btn.mb {
        display:none;
        position: fixed;
        top:14px;
        right:16px;
        width:32px;
        height:32px;
        background: #fff;
        color:#000;
        font-size:1.0rem;
        border-radius:16px;
        border:none;
    }
    .gnb_mb_all {
        position:fixed;
        top:0;
        left:-100%;
        width:80%;
        min-width:270px;
        max-width:540px;
        height:100%;
        overflow-y: auto;
        background: #fff;
        box-shadow: 0px 0px 8px rgba(100,120,120,0.4);
        z-index: 1100;
    }
    .gnb_mb_tmShortcut:after {
        content:'';
        clear:both;
        display:block;
    }
    .gnb_mb_tmShortcut li {
        float:left;
        height:2.0rem;
        width:50%;
    }
    .gnb_mb_tmShortcut li a{
        display:block;
        padding: 4px 16px;
        line-height:1.8;
        height:inherit;
        transition: all 0.6s;
        text-align: center;
        color: #fff;
        font-weight: 400;
        cursor: pointer;
        background: #12417a;
        border-bottom:1px solid #1C4B77;
    }
    .gnb_mb_user_menu {
        clear: both;
        margin:12px auto;
        width:90%;
        text-align: center;
    }
    .gnb_mb_user_menu li{
        display:inline-block;
        padding:2px 8px;
    }
    .gnb_mb_user_menu li:first-child {
        border-right:1px solid #eaeaea;
    }
    .gnb_mb_tmShortcut li:nth-child(2n) a {
        border-left:1px solid #1C4B77;
    }
    .gnb_mb_mn_wrap {
        margin:0px auto;
        padding:8px 0;
        width:90%;
        border-top:1px solid #eaeaea;
    }
    .gnb_mb_all ul.gnb_1li li {
        position: relative;
    }
    .gnb_mb_all ul.gnb_1li li.qna_li a {
        background:#74beff;
        color:#fff;
    }
    .gnb_mb_all ul.gnb_1li li.han_li a {
        background:#195dae;
        color:#fff;
    }
    .gnb_mb_all ul.gnb_1li li a {
        display:inline-block;
        padding:12px 48px 12px 12px;
        font-size:0.92rem;
    }
    .gnb_mb_all ul.gnb_1li li .gnb_1li_more {
        position:absolute;
        top:4px;
        right:12px;
        display:block;
        width:32px;
        height:32px;
        line-height:32px;
        border:1px solid #eaeaea;
        font-size:1.12rem;
        font-weight: 200;
        text-align: center;
        cursor: pointer;
    }
    .gnb_mb_all .gnb_2li {
        display:none;
    }
    .gnb_mb_all ul.gnb_2li li {
        position: relative;
        background: #eaeaea;
    }
    .gnb_mb_all ul.gnb_2li li a {
        display: inline-block;
        padding:10px 48px 10px 20px;
        font-size:0.80rem;
    }
    .gnb_mb_all ul.gnb_2li li .gnb_2li_more {
        position:absolute;
        top:3px;
        right:18px;
        display:block;
        width:28px;
        height:28px;
        line-height: 28px;
        border:1px solid #cacaca;
        font-size:1.04em;
        font-weight: 200;
        text-align: center;
        cursor: pointer;
    }
    .gnb_mb_all .gnb_3li {
        display:none;
    }
    .gnb_mb_all ul.gnb_3li li {
        background: #dadada;
    }
    .gnb_mb_all ul.gnb_3li li a {
        padding:10px 10px 10px 24px;
        font-size:0.80rem;
    }
    .gnb_mb_all .gnb_1li > li.on > a{
        font-weight:600;
        text-decoration: underline;
    }
    .gnbWrap {
        display:none;
    }
    /* container */
    #container {
        margin:4rem 0 0 0;
        /*transform: translate(0, 4rem);*/
    }
    /* main page */
    .mainSlide {
        margin:0;
        width:100%;
        height:280px;
    }
    .mainSlide .in {
        width:100%;
        margin-left:-50%;
    }
    .mainSlide .in .bx-viewport {
        height:330px !important;
    }
    .mainSlide .in .bx-viewport ul li {

    }
    .mainSlide .in .bx-viewport ul li img{
        width:1440px;
        margin-left:50%;
        transform: translate(-50%,-10%);
    }
    .mainContent {
        width:100%;
    }
    .mainContent .tabList .tabTit ul li a {
        height:40px;
        line-height:40px;
        padding:0 8px;
        font-size:0.80rem;
    }
    .tabContent .tabCont.innerCon .workList {
        padding-top:28px;
    }
    .tabContent .tabCont.innerCon .workList .linkBtn {
        top:0px;
    }
    .mainTab {
        margin:0 0 12px 0;
    }
    .mainTab .left {
        float: none;
        margin:12px auto;
        padding:0 12px;
        width:100%;
        height:auto;
        border:none;
        background:none;
    }
    .left .slick_slider .slick-list {
        height: auto;
    }
    .left .slick_slider .memberTop .img {
        margin: 0 auto 12px;
        width:100%;
        text-align: center;
    }
    .left .slick_slider .memberTop .img img {
        margin:0 auto;
        width:36%;
        max-width:200px;
    }
    .left .slick_slider .memberTop .textWrap {
        float: none;
        margin:16px auto;
        width: 100%;
        max-width:380px;
    }
    .left .slick_slider .memberTop .textWrap .tit01 {
        font-size:0.96rem;
    }
    .memberTop .textWrap .tit01 span, .mb_sec .textWrap .tit01 {
        font-size:0.80rem;
    }
    .left .slick_slider .memberTop .listTyp01 > ul > li .tit {
        font-size:0.88rem;
    }
    .left .slick_slider .memberTop .dot > li {
        font-size:0.72rem;
    }
    .left .slick_slider .memberTop .listTyp01 > ul > li .tit.nobg.ft13 {
        font-size:0.72rem;
    }
    .mainTab .left .slick-dots {
        bottom:-4px;
    }
    .mainTab .left .slick-dotted.slick-slider {
        margin-bottom:32px;
    }
    .tabContent {
        max-height:400px;
    }
    .tabContent .tabCont.innerCon {
        height:330px;
    }
    .mainTab .left .tabList {
        border:1px solid #e6e6e6;
        border-top:none;
    }
    .tabContent .tabCont ul li {
        margin:0 0 12px 0;
    }
    .mainTab .right {
        float: none;
        margin:0 auto;
        padding:0 12px;
        width:100%;
        height: auto;
        background:none;
    }
    .mainTab .right > div {
        width:100%;
    }
    .mainTab.space .right > div {
        width:100%;
    }
    .right .customerCenter {
        margin:12px auto;
    }
    .right .customerCenter a.contBox {
        height: auto;
    }
    .customerCenter a .tit{
        padding:24px 0 0;
        font-size:1.2rem;
        font-weight:600;
        text-align: center;
    }
    .customerCenter a .txt {
        font-size:1.0rem;
        text-align: center;
    }
    .customerCenter a .img {
        display:none;
    }
    .mainTab .right .customerBox .tit {
        color:#0e3894;
    }
    .mainTab .right .customerBox .phon,
    .mainTab .right .customerBox .phon strong,
    .mainTab .right .customerBox .phon span,
    .mainTab .right .customerBox .dam,
    .mainTab .right .customerBox .dam a{
        color:#454848;
    }
    .mainTab .right .customerBox {
        padding:22px 12px;
        border:1px solid #e6e6e6;
        background: none;
        width:100%;
        height:auto;
    }
    .mainTab .right .customerBox .phon {
        margin:20px 0;
    }
    .mainTab .right .customerBox .dam {
        padding:0;
        text-align: center;
    }
    /* main page */
    .infoList {
        margin:0 auto 12px;
    }
    .infoList:after{
        clear:both;
        display:block;
        content:'';
    }
    .infoList ul:after{
        clear:both;
        display:block;
        content:'';
    }
    .infoList ul {
        margin:20px auto 0;
        padding:0 12px;
        width:100%;
        max-width:456px;
    }
    .infoList ul li {
        margin-bottom:1.0rem;
		padding:0 0.5rem;
        width:50%;
        max-width:218px;
    }
    .infoList ul li:nth-child(1),
    .infoList ul li:nth-child(2),
    .infoList ul li:nth-child(3),
    .infoList ul li:nth-child(4),
    .infoList ul li:nth-child(5),
    .infoList ul li:nth-child(6) {
        width:50%;
    }
    .infoList ul li:nth-child(1) a img,
    .infoList ul li:nth-child(2) a img,
    .infoList ul li:nth-child(3) a img,
    .infoList ul li:nth-child(4) a img,
    .infoList ul li:nth-child(5) a img,
    .infoList ul li:nth-child(6) a img {
        margin:0;
        max-height: auto;
        height: auto;
    }

    .infoList ul li:nth-child(2n){
        border-left:none;
    }
    .infoList ul li:nth-child(3){
        clear:both;
    }
    .infoList ul li a {
        padding:0 0 16px;
        min-height:260px;
        height:auto;
    }
    .infoList ul li a .img {
        height:auto;
        margin-bottom:24px;
    }
    .infoList ul li a .tit {
        font-size:0.80rem;
    }
    .infoList ul li a .txt {
        font-size:0.72rem;
    }
    /* main page - call tab */
    .callCenterTab {
        margin:1rem auto;
    }
    .callCenterTab:after{
        clear:both;
        display:block;
        content:'';
    }
    .callCenterTab ul {
        padding:0 12px;
    }
    .callCenterTab ul:after{
        clear:both;
        display:block;
        content:'';
    }
    .callCenterTab ul {
        margin:0 auto;
        width:100%;
        max-width:456px;
    }
    .callCenterTab ul li {
        margin:0;
        width:50%;
        max-width:218px;
    }
    .callCenterTab ul li:nth-child(3),
    .callCenterTab ul li:nth-child(4) {
        border-top: none;
    }
    .callCenterTab ul li:nth-child(2n){
        border-left:none;
    }
    .callCenterTab ul li:nth-child(3){
        clear:both;
    }
    .callCenterTab ul li a {
        padding:1.2rem 0.5rem 1rem;
        min-height:240px;
        max-height: 240px;
        height:auto;
    }
    .callCenterTab ul li a span, .callCenterTab ul li a strong {
        font-size:0.92rem;
    }
    .callCenterTab ul li a span.mini {
        font-size:0.80rem;
    }
    .callCenterTab ul li a.hubtab {
        overflow: hidden;
    }
    .callCenterTab ul li a.hubtab span.img {
        width:110%;
        margin-left:-5%;
        margin-bottom:1rem;
    }

    /* submenu and subtop */
    .subNav ul {
        width:100%;
    }
    .subNav.tp2 ul li {
        width:40%;
        text-align: center;
    }
    .subNav.tp2 ul li:first-child {
        margin:0 0 0 10%;
        width:40%;
    }
    .subNav.tp3 ul li {
        margin:0;
        width:33.3%;
        text-align: center;
    }
    .subNav.tp3 ul li:first-child {
        margin:0;
    }
    .subNav.tp4 ul li:first-child {
        margin:0;
    }
    .subNav.tp4 ul li {
        width:25%;
    }
    .subNavType2 {
        padding:12px;
    }
    .subTop.mng + .subContent .subTopInfo {
        display:none;
    }
    .subTop.mng + .subContent .blist {
        margin-top:1.5rem;
    }
    .catsWrap {
        padding:0.75rem 0;
    }
    .catsWrap:after {
        content:'';
        display:block;
        width:100%;
        clear:both;
    }
    .catsBtn {
        float:left;
        margin: 0 -1px -1px 0;
        display:block;
        width:50% !important;
        box-sizing: border-box;
    }
    .catsBtn a {
        position: relative;
        padding: 6px 4px 6px;
        line-height: 1.4;
        min-height: 28px;
        max-height: 45px;
        height: auto;
        font-size: 0.75rem;
        text-align: center;
        border: 1px solid #dcdcdc;
        z-index: 1;
    }
    .catsBtn.on a {
        color: #0e3894;
        text-decoration: underline;
        background: #eef6fb;
        border: 1px solid #0e3894;
        z-index: 100;
    }
    .catsBtn.on a:after {
        display: none;
    }
    /* contents */
    .subContent {
        padding:0 12px;
        width:100%;
    }
    .linkList .in {
        margin-left:0;
    }
    .linkList a {
        margin:0 0 20px 1%;
        width:24%;
    }

    /* qna contents */
    .subTop .text.cont__userBbs {
        padding:0;
    }
    .subTop .text {
        font-size:1.125rem;
    }
    .tabType01.kl-type {
        margin-bottom:1rem;
    }
    .tabType01.kl-type ul li.on:after {
        display: none;
    }
    .tabType01.kl-type .kl-cate-wr ul {
        width: 100%;
    }
    .tabType01.kl-type ul li {
        width:50%;
    }
    .tabType01.kl-type .kl-cate-wr ul {
        padding:1.0rem 0;
    }
    /*.tabType01.kl-type .kl-cate-wr ul li:not(:nth-child(2)),*/
    .tabType01.kl-type .kl-cate-wr ul li {
        display:block;
        float:left;
        margin:0;
        width:50%;
    }
    .tabType01.kl-type .kl-cate-wr ul li:not(:nth-child(1)) {
        width:25%;
    }
    .tabType01.kl-type.list2 .kl-cate-wr ul li:not(:nth-child(1)) {
        width:50%;
    }

    /* footer */
    .footer {
        /*transform: translate(0, 4rem);*/
    }
    .footer .in {
        width:100%;
    }
    .footer .in .footNav {
        text-align: center;
    }
    .footer .in .footNav ul {
        display: inline-block;
        margin: 0 auto;
    }
    .footer .in .footNav ul li {
        padding-left:8px;
        margin-left:8px;
    }
    .footer .in .addWrap {
        padding:0 16px 16px;
    }
}

@media only screen and  (max-width: 768px){
    .footer {
        padding-bottom:3.0rem;
    }
    #mb_ft {
        display: block;
        position: fixed;
        left:0;
        bottom: 0;
        width:100%;
        height: 3.675rem;
        border-top:1px solid #eaeaea;
        background:#fff;
        z-index: 1000;
        box-shadow: 0 0 8px rgba(0,0,0,0.1);
    }
    .ft_link_list {
        width:50%;
        margin:0 auto;
    }
    .ft_link_list li {
        float: left;
        width: 50%;
        height: 3.675rem;
        text-align: center;
    }
    .ft_link_list li a {
        display: block;
        width:100%;
        height: 3.675rem;
        padding:0.25rem;
        color:#888;
        font-size:0.675rem;
        box-sizing: border-box;
    }
    .ft_link_list li.on a {
        color:#044ab4;
        font-weight: 600;
        border-bottom:2px solid #044ab4;
    }
    .ft_link_list li a i {
        display: block;
        margin-bottom:0.25rem;
        font-size:1.5rem;
    }

    .ft_link_list li a img {
        display: block;
        margin:0.25rem auto 0.375rem;
        width: 1.5rem;
        height: 1.5rem;
    }
    .contStart img {
        max-width: 100%;
    }
    /* main page - call tab */
    .callCenterTab ul li a.hubtab span.img {
        width:110%;
        margin-left:-5%;
        margin-bottom:1.25rem;
    }
    /* submenu and subtop */
    .subTop {
        position: relative;
        height:144px;
        background-size: auto 100%;
    }
    .subTop .text {
        position:absolute;
        top:50%;
        left:50%;
        padding:0;
        width:100%;
        transform: translate(-50%, -50%);
        font-size:1.125rem;
    }
    .subTop .text.cont__taxfiling {
        padding-top: 0;
    }
    .subTop .text.cont__taxfiling span {
        font-size:1.125rem;
    }
    .subNav ul li {
        position: relative;
        vertical-align: middle;
    }
    .subNav ul li.on:after {
        display: none;
        content: '';
        position: absolute;
        left: 50%;
        bottom: -15px;
        margin-left: -13px;
        width: 27px;
        height: 15px;
        background: url(../images/common/bull_subTab.png) no-repeat;
    }
    .subNav ul li a {
        padding:6px 4px 6px;
        min-height:28px;
        max-height:45px;
        height:auto;
        line-height:1.4;
        font-size:0.72rem;
    }
    .subNav ul li.on a:after {
        display:none;
    }
    .subContent .subTopInfo {
        margin:24px 0 16px;
        padding:0 0 36px;
    }
    .no_subtop .subContent .subTopInfo {
        margin:0;
        padding:8px 0;
    }
    .subContent .subTopInfo .lnb {
        position: relative;
        right:auto;
        margin-bottom:0.5rem;
        width:100%;
        line-height:1.4;
        text-align: center;
    }
    .subContent .subTopInfo .lnb span {
        float: none;
        font-size:0.72rem;
    }
    .subContent .subTopInfo .h2Wrap {
    }
    .subContent .subTopInfo .h2Wrap h2 {
        font-size:1.28rem;
        text-align: center;
    }
    .tabType01 {
        margin:0 0 24px;
    }
    .tabType01 ul {
        border-bottom:1px solid #dcdcdc;
    }
    .tabType01 ul li {
        position: relative;
        border:none;
    }
    .tabType01 ul li a {
        padding:10px 2px;
        max-height:48px;
        height:auto;
        font-size:0.72rem;
    }
    .tabType01 ul li.on:after {
        content:'';
        display:block;
        position:absolute;
        bottom:-1px;
        width:100%;
        height:2px;
        background: #fff;
    }
    /* contents */
    .ceoWrap .tit01 {
        margin:0 0 16px;
        font-size:1.20rem;
    }
    .ceoWrap .img {
        position: relative;
        top:0;
        margin:0 0 0 25%;
        width:50%;
    }
    .ceoWrap .img img {
        width:100%;
    }
    .ceoWrap .text {
        line-height: 1.6;
        font-size:0.72rem;
    }
    .h3Wrap.line {
        padding:0 0 16px;
        margin: 0 0 24px;
    }
    .h3Wrap h3 {
        font-size:1.20rem;
    }
    .tblType01 table th {
        font-size:0.72rem;
    }
    .tblType01 table td {
        padding:12px 4px 12px 16px;
        font-size:0.72rem;
    }
    .tblType02 table th {
        padding:12px 0;
        font-size:0.72rem;
    }
    .tblType02 table td {
        padding:12px 2px;
        font-size:0.72rem;
    }
    .tblType02.docType div.blueBg strong {
        font-size:1.2rem;
    }
    .bll01 {
        margin:0 0 20px;
        line-height:1.5;
        font-size:1.04rem;
    }
    .bll02 {
        margin:32px 0 16px;
        padding:8px 16px 8px 8px;
        font-size:1.04rem;
    }
    .titBlue {
        margin:16px 0 8px;
        font-size:0.88rem;
        line-height:1.6;
    }
    .lst01 {
        margin:8px 0 8px 0;
    }
    .lst01 li {
        margin:0 0 8px 4px;
    }
    .lst01 .tit01, .tit01 {
        margin:0 0 8px;
        font-size:0.80rem;
        line-height:1.6;
    }
    .lst01.qna_bbs_txt li {
        margin:0 0 0px;
    }
    .tit01.qna_bbs_txt {
        margin:0 0 0px;
        font-size:0.75rem;
        line-height:1.6;
    }
    .dot {
        margin:0 0 0 8px;
    }
    .workList > ul > li .dot li {
        margin:0 0 6px;
        line-height:1.6;
        font-size:0.72rem;
    }
    .titBlueBottom2 {
        margin:0 0 8px 8px;
        font-size:0.72rem;
        line-height:1.6;
    }
    .notiText {
        line-height:2.0;
        font-size:0.80rem;
    }
    .blueRound {
        padding:20px 12px 16px;
    }
    .blueRound+br {
        display:none;
    }
    .jobInfoWrap {
        padding: 48px 16px;
        height: auto;
        background: none;
        border: 1px solid #eaeaea;
        box-shadow: 4px 4px 12px rgba(180,200,200, 0.2);
    }
    .titBlueBottom2.mb20 {
        margin-bottom:12px !important;
    }
    .workList div > img {
        width:100%;
    }
    .jobInfoWrap {
        padding: 48px 16px;
        height: auto;
        background: none;
        border: 1px solid #eaeaea;
        box-shadow: 4px 4px 12px rgba(180,200,200, 0.2);
    }
    /* board */
    .countTotal {
        display: block;
        padding:15px 0 6px 6px;
    }
    .blist table thead th.mb_hd,
    .blist table tbody td.mb_hd {
        display:none;
    }
    .blist table thead th,
    .blist table tbody td {

    }
    .viewWrap .line .left,
    .viewWrap .line .right {
        float:none;
        width:100%;
    }
    .viewWrap .line .right .box .tit {
        width:80px;
    }
    .viewWrap .line .left + .right {
        padding:6px 0;
    }
    .viewWrap .line .box .tit {
        display: table-cell;
        font-size:0.80rem;
    }
    .viewWrap .line .box .txt {
        float: none;
        display: table-cell;
    }
    .viewWrap .line .box .txt.bold {
        line-height: 1.4;
    }
    .viewWrap .line .box:after {
        clear:both;
        content:'';
        display:block;
    }
    .blist table tbody td.subject a {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        line-height: 1.5;
        max-height: 2.4rem;
    }
    table.basic_tb a {
        margin:0;
        line-height:1.4;
    }
    .btnBbs a {
        width:72px;
    }
    /* login */
    .login fieldset {
        width:100%;
    }
    .login fieldset ul {
        float: none;
        margin:0 auto;
        width:90%;
    }
    .login fieldset .login_btn {
        float: none;
        display: block;
        margin:0 auto;
        width:90%;
        height:50px;
        font-size:0.88rem;
    }
    .btns_wrap {
        text-align: center;
    }
    .login fieldset .btns_wrap a {
        width:30%;
        font-size:0.72rem;
    }
    .h3Wrap h3 {
        float: none;
        margin:0 0 6px 12px;
    }
    .h3Wrap>span.text {
        display: block;
        margin:0 0 0 12px;
        font-size:0.80rem;
        line-height:1.4;
    }
    .joinsubNav li {
        font-size:0.72rem;
    }
    .joinsubNav li:nth-child(2).on {
        letter-spacing: -1px;
    }
    .joinsubNav li:nth-child(2).on img.on_img {
        margin: 0 4px 0 0;
    }
    .joinsubNav li img {
        margin:0 6px 0 0;
        max-width: 20px;
        max-height: 20px;
        z-index: 100;
    }
    .jd-tt {
        text-align: center;
        font-size:1.00rem;
    }
    .jd-div {
        width:100%;
    }
    .jd-div aside {
        padding:16px 12px;
        text-align: center;
    }
    .jd-div aside > div:first-child {
        margin:0;
    }
    .jd-div aside h3 {
        font-size:1.0rem;
    }
    .jd-div aside img {
        max-width: 90%;
        width:120px;
    }
    .jd-div .join_blue_btn {
        margin-left:10px;
        min-width: 80px;
    }
    .subNavcustomer ul.subNav_login li {
        width:33.3%;
    }
    .joinStep3 {
        width:100%;
    }
    .joinStep3 fieldset {
        width: 100%;
    }
    .joinStep3 table {
        table-layout: fixed;
    }
    .joinStep3 table th {
        padding:0 3px 0 3px;
        font-size:0.72rem;
        width:78px;
    }
    .joinStep3 table td {
        padding:5px 8px;
        font-size:0.72rem;
    }
    .joinStep3 table td input#newid{
        width: 100%;
    }
    .joinStep3 table td label.lb_pw {
        display: block;
    }
    .joinStep3 table td input#newpw{
        width: 100%;
    }
    .joinStep3 table td input#newpw2{
        width: 100%;
    }
    .joinStep3 table td input.femail{
        margin: 0 0 2px 0;
        width: 80%;
    }
    .joinStep3 table td select.femail{
        margin: 0 0 2px 0;
        padding:0 15px;
        width:80%;
        color:#666;
        border:1px solid #e6e6e6;
    }
    .joinStep3 table td select.fphone{
        color:#666;
        border:1px solid #e6e6e6;
    }
    .joinStep3 table td input.fphone{
        width:64px;
    }
    .joinStep3 table td input#out_reason {
        width:100%;
    }
    .joinStep3 table .check_id{
        display: block;
        margin: 5px 0 0;
    }
    .joinStep3 table td input#companyNumber {
        width:100%;
    }
    .joinStep3 table td input#companyName {
        width:100%;
    }
    .joinStep3 table td input#companyCeo {
        width:100%;
    }
    .joinStep3 table td input#adress {
        width:100%;
    }
    .joinStep3 table td input.addr1 {
        width:100%;
    }
    .joinStep3 table td input.addr2 {
        width:100%;
    }
    .joinStep3 table td input#userJob {
        width:100%;
    }
    .joinStep3 table .search_adress{
        display: block;
        margin: 5px 0 0;
    }
    .btns_wrap {
        text-align: center;
    }
    .joinStep3 .join_blue_btn {
        width:35%;
    }
    .join_black_btn {
        width:25%;
        min-width: 84px;
    }
    .joinStep4 .contwrap {
        padding:20px 16px 32px;
        text-align: center;
    }
    .joinStep4 .contwrap p {
        margin:16px 0 0;
        font-size:0.80rem;
        line-height:1.6;
    }
    .joinStep4 .contwrap p span {
        font-size:0.72rem;
    }
    .btns_wrap.borer-none {
        marg
    }
    .joinStep4 .join_Btn {
        width:40%;
    }
    .tblType03 table.applyTable .search_adress{
        display: block;
        margin: 5px 0 0;
    }
    .tblType03 table.applyTable td input.addr1 {
        width:100%;
    }
    .tblType03 table.applyTable td input.addr2 {
        width:100%;
    }
    td.apply_place label {
        display: block;
    }
    td.apply_type label {
        display: block;
    }
    .div_explanation .right {
        font-size:0.88rem;
    }
    .div_explanation .expl {
        font-size:0.80rem;
        line-height:1.5;
    }

    /* 구성원 */
    .mb_sec {
        padding:16px;
    }
    .memberTop {
        margin:0 auto 16px;
        padding:20px 16px 28px;
        border:1px solid #eaeaea;
    }
    .memberTop .img, .mb_sec .img {
        float: none;
        margin:0 auto 8px;
        width:60%;
    }
    .memberTop .img img, .mb_sec .img img {
        width: 100%;
    }
    .mb_sec .img img {
        width: 100%;
    }
    .memberTop .textWrap, .mb_sec .textWrap {
        float: none;
    }
    .memberTop .textWrap .tit01 span, .mb_sec .textWrap .tit01 {
        margin:0 0 8px;
        width:100%;
        font-size:0.88rem;
    }
    .memberTop .textWrap .tit01 {
        font-size:0.96rem;
    }
    .listTyp01 > ul > li .tit {
        margin:16px 0 8px !important;
        font-size:0.88rem;
    }
    .listTyp01 > ul > li {
        float: none;
        margin: 0;
        width:100% !important;
    }
    .listTyp01 > ul > li .tit.nobg.ft13  {
        margin:6px 0 !important;
        font-size:0.72rem;
    }
    .listTyp01 > ul > li .tit.nobg.ft13.addr {
        text-indent: unset;
    }
    .dot > li {
        font-size:0.72rem;
    }
    .memberList > ul {
        margin:0;
        padding:0;
        border:none;
    }
    .memberList > ul > li {
        float:none;
        margin:0 auto 16px;
        padding:20px 16px 28px;
        width:100%;
        border:1px solid #eaeaea;
    }
    .memberList > ul > li .title {
        margin:0 auto 12px;
        line-height: 1.4;
        font-size: 0.88rem;
    }
    .memberList > ul > li .infoMember .img {
        float: none;
        margin:0 auto;
        width:60%;
    }
    .memberList > ul > li .infoMember .img img{
        width:100%;
    }
    .memberList > ul > li .infoMember .textWrap {
        float: none;
        width: 100%;
    }
    .memberList > ul > li .infoMember .textWrap .tit {
        margin: 16px 0 8px;
        font-size: 0.88rem;
    }
    .memberList > ul > li .infoMember .textWrap .tit.nobg.ft13 {
        margin:6px 0;
        font-size:0.72rem;
    }

    /* 회원의 방*/
    .memberPhon {
        padding:24px 16px 16px;
        border:none;
    }
    .selimbiz .memberPhon .box {
        float: none;
        width:100%;
    }
    .selimbiz .memberPhon .box .dot li {
        float: none;
        margin:0 auto 16px;
        width: 100%;
    }
    .selimbiz .memberPhon .box .tit.nobg.ft13 {
        padding:2px 0 0 4px;
        font-size:0.72rem;
    }

    /* footer */
    .footer .in .addWrap {
        font-size:0.72rem;
    }
}

@media only screen and (max-width: 480px) {
    .mb_hd{
        display:none;
    }
    table.mb_hd {
        display: block;
    }
    .pc_hd {
        display:block;
    }
    /* main page */
    .infoList {
        margin:1.25rem auto;
    }
    .infoList:after{
        clear:both;
        display:block;
        content:'';
    }
    .infoList ul {
        padding:0 12px;
    }
    .infoList ul:after{
        clear:both;
        display:block;
        content:'';
    }
    .infoList ul li {
        margin-bottom:1.0rem;
        width:50%;
    }
    .infoList ul li:nth-child(2n){
        border-left:none;
    }
    .infoList ul li div.service-box > a {
        padding:0rem 0rem 1.0rem;
        min-height:200px;
        height:auto;
    }
	
	.infoList ul li a h3 { 
		font-size:1.0rem; 
	}
	.infoList ul li a p { 
		font-size:0.875rem; 
	}
    .infoList ul li a img {
		max-width:100%;
    }
    .infoList ul li a .tit {
        font-size:0.80rem;
    }
    .infoList ul li a .txt {
        font-size:0.72rem;
    }
    /* main page - call tab */
    .callCenterTab ul li a.hubtab span.img {
        width:130%;
        margin-left:-15%;
        margin-bottom:1.5rem;
    }
    /* board */
    .side .left {
        float: none;
    }
    /* contents */
    .linkList .in {
        margin-left:0;
    }
    .linkList a {
        margin:0 0 1% 1%;
        width:49%;
    }
    /* pop */
    .pop_frame > div {
        top:4.6rem !important;
        left:50% !important;
        margin-left:-45%;
        width:90% !important;
        height:360px !important;
        box-shadow: 0 2px 8px rgba(100,120,120,0.7);
    }
    .notice_pop {
        background: url(../images/main/pop_bg2.png) no-repeat;
        background-position-y: -8px;
        background-position-x: -120px;
        max-height: 360px;
    }
    .notice_pop .pop_body_hd {
        padding:0 0 0 16px;
        font-size:0.88rem;
        height:2rem;
        line-height: 2rem;
    }
    .notice_pop .pop_body_con {
        padding:18px 20px;
    }
    .notice_pop .pop_body_con p {
        font-size:0.72rem;
    }
    .notice_pop .pop_body_con .info h4 {
        margin:16px 0 12px 0;
        font-size:0.8rem;
    }
    .notice_pop .pop_body_con .info .info_txt {
        font-size:0.72rem;
    }
    .notice_pop .pop_body_con .info .pop_btn {
        font-size:0.72rem;
    }
    .notice_pop .pop_body_con .info .pop_btn.pop_normal_btn {
        font-size:0.8rem;
    }
    .pop_frame .pops_footer button {
        font-size:0.8rem;
    }
    .pop_frame .pops_footer {
        box-shadow: 0 2px 8px rgba(100,120,120,0.7);
    }
}