@charset "utf-8";
@import url(font.css);
@import url(page_con.css?v=20250218002);
@import url(layout.css?v=20250218002);
@import url(mbv.css?v=20250218002);
@import url(print.css?v=20250218002);
/* @import url("http://fonts.googleapis.com/earlyaccess/notosanskr.css"); */

/* Reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,form,fieldset,p,button{margin:0;padding:0}
body,h1,h2,h3,h4,input,button{font-family:'NanumSquare', sans-serif,Helvetica,'Apple SD Gothic Neo',Sans-serif;font-size:13px;color:#666666}
body{text-align:left; word-break:break-word;}
img,fieldset,iframe{border:0 none}
li{list-style:none}
input,select,button{vertical-align:middle}
img{vertical-align:top}
i,em,address{font-style:normal}
label,button{cursor:pointer}
a{color:#666666;text-decoration:none}
a:hover{text-decoration:none}
hr{display:none}
legend{*width:0}
table{border-collapse:collapse;border-spacing:0}
caption{font-size:0; line-height:0; height:0}
* {box-sizing: border-box;}
/* Mobile Form Default */
input[type='text'],input[type='password'],input[type='image'],input[type='search']{-webkit-appearance:none;-webkit-border-radius:0}

/* Skip */
#skipnavigation{z-index:9999;position:absolute;left:0;top:0;width:100%;text-align:center}
#skipnavigation *{list-style:none;margin:0;padding:0;}
#skipnavigation a{display:block;width:100%;height:0;overflow:hidden;white-space:nowrap;}
#skipnavigation a:focus,
#skipnavigation a:active{display:block;width:100%;height:36px;color:#fff;background:#000;line-height:36px;text-decoration:underline !important;font-size:14px;}


.p0   { padding:           0 !important; }
.p5   { padding:         5px !important; }
.p10  { padding:        10px !important; }
.p20  { padding:        20px !important; }

.pt0  { padding-top:       0 !important; }
.pt5  { padding-top:     5px !important; }
.pt10 { padding-top:    10px !important; }
.pt20 { padding-top:    20px !important; }
.pt25 { padding-top:    25px !important; }

.pr0  { padding-right:     0 !important; }
.pr5  { padding-right:   5px !important; }
.pr10 { padding-right:  10px !important; }
.pr20 { padding-right:  20px !important; }

.pb0  { padding-bottom:    0 !important; }
.pb5  { padding-bottom:  5px !important; }
.pb10 { padding-bottom: 10px !important; }
.pb20 { padding-bottom: 20px !important; }
.pb30 { padding-bottom: 30px !important; }

.pl0  { padding-left:      0 !important; }
.pl5  { padding-left:    5px !important; }
.pl10 { padding-left:   10px !important; }
.pl20 { padding-left:   20px !important; }
.pl25 { padding-left:   25px !important; }

.m0   { margin:           0 !important; }
.m10  { margin:        10px !important; }

.mt0  { margin-top:       0 !important; }
.mt5  { margin-top:     5px !important; }
.mt10 { margin-top:    10px !important; }
.mt15 { margin-top:    15px !important; }
.mt20 { margin-top:    20px !important; }
.mt25 { margin-top:    25px !important; }
.mt30 { margin-top:    30px !important; }
.mt40 { margin-top:    40px !important; }

.mb0  { margin-bottom:    0 !important; }
.mb5  { margin-bottom:  5px !important; }
.mb10 { margin-bottom: 10px !important; }
.mb20 { margin-bottom: 20px !important; }
.mb30 { margin-bottom: 30px !important; }
.mb50 { margin-bottom: 50px !important; }

.ml0  { margin-left:      0 !important; }
.ml5  { margin-left:    5px !important; }
.ml10 { margin-left:   10px !important; }
.ml20 { margin-left:   20px !important; }

.mr0  { margin-right:     0 !important; }
.mr5  { margin-right:   5px !important; }
.mr10 { margin-right:  10px !important; }
.mr20 { margin-right:  20px !important; }

.lh23 {line-height: 23px !important;}
.sr-only{font-size:0;text-indent: -9999px;}
.text-center{text-align: center;}
