@charset "utf-8";

.btnDownload {
    display: block;
    padding-left: 24px;
    background: url('/pages/default/images/sub/downBtn.png') left center no-repeat;
}
.btnDownload:first-child {margin-top:20px;}
.oneQustion .ipBox.line {
    position: relative;
}
.oneQustion .line {
    margin-bottom: 10px;
    border: 1px solid #c9c9c9;
}
.ipBox.txt {
    background: #fff;
    padding-left: 10px;
    height: 43px;
    line-height: 43px;
    width: 100%;
    font-size: 14px;
}
select.m_select {
    width: 100%;
    height: 24px;
    min-height: 24px;
    opacity: 0;
    position: relative;
    z-index: 1;
}
.telSel #select_box select.m_select {
    height: 44px;
}
input.point { width:80px; text-align:right; }

.consultViewList .btn {
    float:right;
    margin: -4px 0 0 10px;
    overflow: hidden;
}
a.btn_s {
    display: block;
    font-size: 14px;
    color: #233969;
    height: 25px;
    line-height: 25px;
    border: 1px solid #233969;
    text-align: center;
	padding:0 10px;
}
.personalWrap .textScroll {
    overflow-y: scroll;
    background: #f6f7f5;
    padding: 20px;
    border: 1px solid #e6e6e6;
    line-height: 21px;
    margin-bottom: 12px;
    height: 50px;
    font-size: 10px;
}
.ordercal {display:none; position:fixed; left:0; top:0; height:100%; width:100%; z-index:300;}
.ordercal .bg {position:fixed; left:0; top:0; width:100%; height:100%; z-index:1; background:rgba(0,0,0,.5);}
.ordercal .cont {position:fixed; left:0; top:30%;  width:100%; z-index:9999;}
.ordercal .cont .box {margin:0 20px; background:#fff; border-top-left-radius:10px;  border-top-right-radius:10px; overflow:hidden;}
.ordercal .cont .box .txt {text-align:center; font-size:15px; color:#2a2a2a;  padding:20px 0;}
.ordercal .cont iframe {border:0; width:100%;height:360px;}
.ordercal .cont .box .btn:after {content:''; display:block; clear:both;}
.ordercal .cont .box .btn a{float:left; width:100%; text-align:center; color:#fff; font-weight:500; font-size:15px; padding:15px 0; background:#0269bf; line-height:15px;}
.colBox3 #contents {padding-bottom:20px;}

.show-off {display:none;}
.show-on {display:block;}
