@charset "utf-8";

@import url("basic.css");
@import url("layout.css");


.inner_con_wr {
    padding:0.875rem 0;
}
.inner_con_wr.mem_wr {
    margin-bottom:2.0rem;
}

.ip_wr.line_val_wr,
.ip_wr.mngr_val_wr {
    margin:0.25rem auto;
    padding:0.5rem;
    border:1px solid #eee;
    border-radius:0.5rem;
    box-sizing: border-box;
}
.ip_wr.line_val_wr label,
.ip_wr.mngr_val_wr label {
    display:block;
    margin:0.25rem auto;
}
.ip_wr.mngr_val_wr label select {
    padding:0.5rem;
}

.btn_wr {
    padding:0.25rem;
}
.line_set_btn {
    display:inline-block;
    padding:0.375rem;
    width:6.0rem;
    text-align:center;
    font-weight:600;
    border:1px solid #eee;
    border-radius:0.5rem;
    cursor:pointer;
    box-sizing: border-box;
}
.line_set_btn.line_plus_btn {
    background:#0000ff;
    color:#fff;
}
.line_set_btn.line_minus_btn {
    background:#ff0000;
    color:#fff;
}
.num_set_btn {
    display:inline-block;
    padding:0.375rem;
    width:6.0rem;
    text-align:center;
    font-weight:600;
    color:#fff;
    background:#000;
    border:1px solid #eee;
    border-radius:0.5rem;
    cursor:pointer;
    box-sizing: border-box;
}