@property --angle {
    syntax: '<angle>';
    initial-value: 0deg;
    inherits: false;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}
@keyframes border-rotate {
    to { --angle: 1turn; }
}